<nav class="navbar fixed-bottom navbar-light bg-light">
  <a class="navbar-brand" href="#">Developed and Design by Ujjwal Silwal</a>
<a href ="https://www.facebook.com/dashing.ujjwal"> <i class="fa fa-facebook-official"> </i> </a>
<a> <i class = "fa fa-instagram"> </i> </a>
<a> <i class = "fa fa-twitter"> </i> </a>
</nav>