<div class = "container">
<div class = "row">
     <div class = "col-sm-4">
        <img src="/images/image.jpg" class="img-responsive">
    </div>
    <div class = "col-sm-4">
        <h1>About me </h1>
        <p> Hello My name is Ujjwal Silwal. I am a web developer. </p>
    <p> I use Nodejs, Expressjs to build server side (back-end) and I use HTML, css/bootstrap and javascript to build the client side. </p>
    <br>
    <h3> My resume </h3>
    <a href ="/resume/Resume_UjjwalSilwal_ITSupport_Final.docx"> <i class = "fa fa-download"> Download DOCX</i></a>
    </div>
   
</div>
</div>